#app-mount {
	.divider-3_HH5L {
		border: none;
		top: 0;
		margin: 1rem 1rem 1rem calc(1rem + var(--chat-avatar-size));
		height: auto;
		justify-content: flex-end;
		flex-direction: row-reverse;
		.content-1o0f9g {
			padding: var(--spacing-sm) var(--spacing);
			border-radius: var(--rounded-small);
			color: var(--text-normal);
			background: var(--bg-lvl-3);
			font-size: var(--font-size-xsm);
			line-height: var(--font-size-xsm);
		}
	}
	.unreadPill-2HyYtt {
		position: relative;
		top: 0;
		font-size: var(--font-size-xsm);
		padding: var(--spacing-sm) var(--spacing);
		border-radius: var(--rounded-small);
		height: auto;
		line-height: var(--font-size-xsm);
		svg {
			display: none;
		}

		&:not(:only-child) {
			margin-right: var(--spacing);
		}
	}
}