#app-mount {
	.checkboxWrapper-SkhIWG {
		.checkbox-1ix_J3 {
			background: var(--bg-lvl-3);
			border-color: var(--bg-lvl-3);
		}

		&.checked-3_4uQ9 .checkbox-1ix_J3 {
			background: rgb(var(--accent)) !important;
			border-color: rgb(var(--accent)) !important;
			path {
				fill: #fff;
			}
		}
	}
}