#app-mount {
	.css-gvi9bl-control,
	.css-17e1tep-control,
	.css-x3hllb-control,
	.css-z86t1q-control,
	.lookFilled-22uAsw.select-2fjwPw {
		background: var(--bg-lvl-1);
		border: none;
		border-radius: var(--rounded-small);
		cursor: pointer;
		&:hover {
			background: var(--bg-lvl-2);
		}
	}

	.css-4h5swf-singleValue,
	.css-1yg49vj-singleValue {
		line-height: normal;
	}
	
	// Selected
	.css-6fzn47-control,
	.css-1ou54ee-control {
		background: var(--bg-lvl-3);
		border: none;
		border-radius: var(--rounded-small);
		cursor: pointer;
	}

	// Dropdown
	.css-3vaxre-menu,
	.css-1x99fvh-menu,
	.popout-VcNcHB {
		background: var(--bg-lvl-2);
		border: none;
		box-shadow: var(--elevation-far);
		border-radius: var(--rounded-small);
		margin-top: var(--spacing);
		overflow: hidden;
	}

	// Hovered menu item
	.css-rzbxvl-option,
	.css-pkcurw-option,
	.option-3KoAJB:hover {
		background: var(--bg-lvl-3);
	}

	// Selected menu item
	.css-1ba14n5-option,
	.css-1gxgi19-option,
	.option-3KoAJB[aria-selected="true"] {
		background: rgb(var(--accent));
		color: #fff;
		.selectedIcon-3uS11H {
			color: #fff;
		}
	}
}