#app-mount {
	.bar-2Qqk5Z {
		background: var(--bg-lvl-3);
	}
	.barFill-23-gu- {
		background: rgb(var(--accent));
	}
	.markDash-3hAolZ {
		background: var(--bg-lvl-3);
	}
	.markValue-2DwdXI {
		color: var(--text-muted);
	}
	.grabber-3mFHz2 {
		box-shadow: var(--elevation-close);
		border: none;
	}
}