#app-mount {
	.containerDefault--pIXnN {
		margin-bottom: var(--spacing-xs);
	}
	.wrapper-2jXpOf {
		padding: 0;

		&:hover .content-1x5b-n {
			background: var(--bg-lvl-2);
		}

		&.modeUnread-1qO3K1 .content-1x5b-n {
			.icon-1DeIlz {
				color: var(--text-focus);
			}
		}
		&.modeSelected-346R90 .content-1x5b-n {
			background: rgba(var(--accent), 1);
			.icon-1DeIlz,
			.actionIcon-PgcMM2,
			.name-23GUGE {
				color: #fff;
			}
		}

		&.typeThread-3ESTm- .content-1x5b-n {
			margin-left: calc(var(--spacing-3xl) + var(--spacing-2xl));
		}
	}
	.spine--Wla_O {
		z-index: 1;
	}

	.content-1x5b-n {
		border-radius: var(--rounded-small);
		padding: var(--spacing-sm) var(--spacing-md);
		margin: 0 0 0 var(--spacing);
		.icon-1DeIlz {
			width: var(--font-size-sm);
			height: var(--font-size-sm);
		}
	}
	.mainContent-u_9PKf {
		padding: 0;
	}
	.name-23GUGE {
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-normal);
	}

	.voiceUser-1K6Xox {
		&:hover .content-1Wq3SX {
			background: var(--bg-lvl-2);
		}
		&.selected-3t3Csj .content-1Wq3SX {
			background: rgb(var(--accent));
			.username-3KYl0N {
				color: #fff !important;
			}
		}
	}
	
}