#app-mount {
  .root-1gCeng {
    background: var(--bg-lvl-1);
    box-shadow: var(--elevation-far);
    border-radius: var(--rounded-large);
  }
  .footer-2gL1pp {
    background: var(--bg-lvl-0);
    box-shadow: none;
  }
}