#app-mount .uploadModal-2ifh8j {
	background: var(--bg-lvl-0);
	border: none;
	box-shadow: var(--elevation-far);

	.inner-3nWsbo {
		margin: 0;
	}
	.icon-kyxXVr:not(.image-2yrs5j) {
		display: none;
	}
	.comment-4IWttf {
		margin: 0 var(--spacing-3xl);
	}
	.channelTextAreaUpload-3t7EIx {
		margin: var(--spacing) 0 var(--spacing-3xl);
	}
	.description-2ug5H_ {
		padding: var(--spacing-3xl) 0 var(--spacing-3xl) var(--spacing-3xl);
	}

	.slateTextArea-1Mkdgw,
	.textArea-12jD-V {
		min-height: 54px;
	}
	.buttons-3JBrkn {
		padding: var(--spacing-md) 0 0 var(--spacing-md);
	}

	.footer-3mqk7D {
		background: var(--bg-lvl-1);
		box-shadow: none;
		padding: var(--spacing-xl);
	}
}