#app-mount .menu-3sdvDG {
	background: var(--bg-lvl-3);
	border-radius: var(--rounded-small);
	box-shadow: var(--elevation-far);

	.scroller-3BxosC {
		padding: var(--spacing-sm);
	}


	.item-1tOPte {
		border-radius: var(--rounded-small);
		&.colorPremium-p4p7qO {
			color: rgb(var(--discord-nitro));
		}
		&.colorBrand-ROmMP1 {
			color: rgba(var(--accent), 1);
		}

		&.focused-3afm-j, &:active {
			background: rgba(var(--accent), 1);
			color: #fff;
			.radioSelection-1HmrQS,
			.checkbox-3s5GYZ {
				color: #fff;
			}
			.check-1JyqgN {
				color: rgb(var(--accent));
			}
			&.colorPremium-p4p7qO {
				background: rgb(var(--discord-nitro));
				color: #222;
				.icon-LYJorE {
					color: #222;
				}
			}
			&.colorDanger-2qLCe1 {
				background: rgb(var(--discord-red));
			}
		}
	}

	// Checkbox/radio
	.radioSelection-1HmrQS,
	.checkbox-3s5GYZ {
		color: rgb(var(--accent));
	}
}