#app-mount .userPopout-3XzG_A {
	border-radius: var(--rounded-large);
	box-shadow: var(--elevation-far);

	// Avatar
	.avatarWrapper-1-5NA0 {
		left: calc(var(--spacing-xl) - 6px);
	}
	.wrapper-3t9DeA {
		border-radius: var(--rounded-large);
		border-color: var(--bg-lvl-1);
		background: var(--bg-lvl-1);
		rect {
			stroke: var(--bg-lvl-1) !important;
		}
	}
	.avatarHint-1E3LMl {
		border-radius: var(--rounded-large);
		width: var(--avatar-size-xl);
		height: var(--avatar-size-xl);
		foreignObject {
			mask: none;
		}
	}

	// Header
	.headerTop-2cWpdB {
		background: var(--bg-lvl-1);
		border: none;
		padding: calc(var(--spacing-3xl) + 40px) var(--spacing-xl) var(--spacing-xl);
	}
	.aboutMeSection-3bipSD {
		background: transparent;
	}

	// Body
	.body-3iLsc4 {
		background: var(--bg-lvl-1);
		padding: 0 var(--spacing-xl) var(--spacing-xl);
	}
	.bodyTitle-Y0qMQz {
		color: var(--text-focus);
	}

	// 	// Roles
	.rolesList-22qj2L {
		position: unset;
		margin: 0 0 var(--spacing-lg);
	}
	.role-2irmRk {
		padding: var(--spacing-xs) var(--spacing);
		border: none;
		height: auto;
		border-radius: var(--rounded-small);
		position: relative;
		overflow: hidden;
		z-index: 1;
		line-height: normal;
	}
	.roleCircle-3xAZ1j:before {
		content: "";
		background: inherit;
		opacity: .3;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.roleName-32vpEy {
		z-index: 2;
		margin-right: 0;
	}
	.roleCircle-3xAZ1j {
		border-radius: var(--rounded-small);
		margin-right: var(--spacing);
	}
	.addButton-pcyyf6.role-2irmRk {
		position: absolute;
		top: 16px;
		right: var(--spacing);
		border: none;
		padding: 0;
		width: 12px;
		height: 12px;
		color: var(--text-normal);
		margin: 0;
		svg {
			width: 100%;
			height: 100%;
		}
	}

	// Footer
	.footer-1fjuF6 {
		background: var(--bg-lvl-1);
		padding: 0;
		.inputWrapper-31_8H8 {
			margin: 0 var(--spacing-xl) var(--spacing-xl);
		}
	}
	.protip-YaFfgO {
		display: none;
	}

	// Message
	.note-3HfJZ5 {
		margin: 0;
	}
	.input-cIJ7To {
		background: var(--bg-lvl-2);
		border: none;
		font-weight: var(--font-weight-normal);
		height: auto;
		padding: var(--spacing);
		border-radius: var(--rounded-large);
		&::placeholder {
			font-weight: inherit;
			color: var(--text-muted);
		}
		&:focus {
			box-shadow: var(--input-focus);
		}
	}




	// Usrbg support
	&[style*="--user-background"] {
		.profileBanner-33-uE1 {
			height: 120px;
			background: var(--user-background) center/cover no-repeat;
		}
		.avatarPositionNormal-1CZUPk {
			top: 74px;
		}
	}
}








// @use '../assets';

// #app-mount .userPopout-3XzG_A {
// 	box-shadow: var(--elevation-far);
// 	border-radius: var(--rounded-large);
// 	width: 300px !important;

// 	// Header
// 	.header-2BwW8b {
// 		background: var(--bg-lvl-2);
// 		position: relative;
// 		& > div {
// 			position: relative;
// 			z-index: 1;
// 		}
// 		&:before {
// 			content: "";
// 			position: absolute;
// 			width: 100%;
// 			height: 100%;
// 			top: 0;
// 			left: 0;
// 			pointer-events: none;
// 			mask: url("#{assets.$pattern_1}");
// 			background-color: var(--text-normal);
// 			opacity: .25;
// 		}
// 	}
// 	.headerTop-3C2Zn0 {
// 		display: grid;
// 		grid-template-columns: auto 1fr;
// 		grid-template-areas: "avatar info" "status status" "last last" "join join" "date date" "badges badges";
// 		align-items: center;
// 		justify-content: flex-start;
// 	}
// 	.headerText-1HLrL7 {
// 		color: var(--text-focus);
// 		margin-bottom: var(--spacing-xl);
// 	}
// 	.headerName-fajvi9,
// 	.headerTag-2pZJzA {
// 		color: var(--text-focus);
// 	}
// 	.headerTag-2pZJzA {
// 		justify-content: flex-start;
// 	}
// 	.username-2b1r56 {
// 		max-width: 195px;
// 	}
// 	.headerTagWithNickname-3IthZD {
// 		color: var(--text-normal);
// 		font-size: var(--font-size-sm);
// 	}
// 	.avatarWrapperNormal-3wFMbf {
// 		grid-area: avatar;
// 		margin-right: var(--spacing-xl);
// 		margin-bottom: 0;
// 	}
// 	.wrapper-3t9DeA {
// 		width: var(--avatar-size-lg) !important;
// 		height: var(--avatar-size-lg) !important;
// 		img {
// 			border-radius: var(--rounded-small);
// 		}
// 	}
// 	.avatarHint-1qgaV3 {
// 		border-radius: var(--rounded-small);
// 		width: var(--avatar-size-lg);
// 		height: var(--avatar-size-lg);
// 		foreignObject {
// 			mask: none;
// 		}
// 	}
// 	.headerText-2sdzFM {
// 		grid-area: info;
// 		text-align: left;
// 		align-items: flex-start;
// 	}
	
// 	// Status
// 	.customStatus-1bh2V9 {
// 		color: var(--text-normal);
// 	}
// 	.customStatus-1bh2V9 {
// 		grid-area: status;
// 		margin-top: var(--spacing-xl);
// 		text-align: left;
// 	}

// 	// Body
// 	.body-3iLsc4 {
// 		background: var(--bg-lvl-1);
// 		padding: var(--spacing-xl) 0 var(--spacing-xl) var(--spacing-xl) !important;
// 		position: relative;
// 	}
// 	.bodyTitle-Y0qMQz {
// 		color: var(--text-focus);
// 		margin-bottom: var(--spacing-xl);
// 	}

// 	// Activity
// 	.activity-11LB_k {
// 		padding-top: 0;
// 		background: transparent;
// 	}
// 	.activityName-1IaRLn,
// 	.nameNormal-2lqVQK,
// 	.nameWrap-3Z4G_9 {
// 		color: var(--text-focus);
// 	}
// 	.textRow-19NEd_ {
// 		color: var(--text-normal);
// 	}
// 	.state-Tt0LO3 {
// 		display: none;
// 	}
// 	.contentImagesStreamPreview-19sAie,
// 	.contentImagesUserPopout-1vLdRA,
// 	.contentImagesVoiceChannel-1LLEDQ {
// 		margin-left: 16px;
// 	}

// 	// Roles
// 	.rolesList-22qj2L {
// 		position: unset;
// 		margin: 0 0 var(--spacing-lg);
// 	}
// 	.role-2irmRk {
// 		padding: var(--spacing-xs) var(--spacing);
// 		border: none;
// 		height: auto;
// 		border-radius: var(--rounded-small);
// 		position: relative;
// 		overflow: hidden;
// 		z-index: 1;
// 		line-height: normal;
// 	}
// 	.roleCircle-3xAZ1j:before {
// 		content: "";
// 		background: inherit;
// 		opacity: .3;
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		left: 0;
// 		z-index: -1;
// 	}
// 	.roleName-32vpEy {
// 		z-index: 2;
// 		margin-right: 0;
// 	}
// 	.roleCircle-3xAZ1j {
// 		border-radius: var(--rounded-small);
// 		margin-right: var(--spacing);
// 	}
// 	.addButton-pcyyf6.role-2irmRk {
// 		position: absolute;
// 		top: 16px;
// 		right: var(--spacing);
// 		border: none;
// 		padding: 0;
// 		width: 12px;
// 		height: 12px;
// 		color: var(--text-normal);
// 		margin: 0;
// 		svg {
// 			width: 100%;
// 			height: 100%;
// 		}
// 	}

// 	// Note
// 	.note-3HfJZ5 {
// 		margin: 0;
// 	}

// 	// Footer
// 	.footer-1fjuF6 {
// 		background: var(--bg-lvl-1);
// 		padding: 0;
// 		.inputWrapper-31_8H8 {
// 			margin: 0 var(--spacing-xl) var(--spacing-xl);
// 		}
// 	}
// 	.protip-YaFfgO {
// 		display: none;
// 	}

// 	// Message
// 	.input-cIJ7To {
// 		background: var(--bg-lvl-2);
// 		border: none;
// 		font-weight: var(--font-weight-normal);
// 		height: auto;
// 		padding: var(--spacing);
// 		border-radius: var(--rounded-large);
// 		&::placeholder {
// 			font-weight: inherit;
// 			color: var(--text-muted);
// 		}
// 		&:focus {
// 			box-shadow: var(--input-focus);
// 		}
// 	}

// 	// Spotify
// 	.bar-3urHkF {
// 		background: rgb(var(--discord-spotify) / .2);
// 	}
// 	.barInner-3NDaY_ {
// 		background: rgb(var(--discord-spotify));
// 	}
// 	.text-AOoUen {
// 		color: var(--text-normal);
// 	}

// 	// Play a game
// 	.headerPlaying-j0WQBV .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
// 		background: rgb(var(--discord-blurple));
// 		border: none;
// 		transition: box-shadow .2s ease;
// 		&:hover {
// 			box-shadow: inset 0 0 0 100vmax rgb(0 0 0 / .15);
// 		}
// 	}
// 	.headerSpotify-zpWxgT .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
// 		background: rgb(var(--discord-spotify));
// 		border: none;
// 		&:hover {
// 			box-shadow: inset 0 0 0 100vmax rgb(0 0 0 / .15);
// 		}
// 	}
// }

// // Theme specific styles
// .theme-dark #app-mount .body-3iLsc4 {
// 	color: #fff;
// }
// .theme-light #app-mount .body-3iLsc4 {
// 	color: #000;
// }