@use '../assets';

#app-mount {
	// Chat & Pages
	.container-1r6BKw {
		max-height: 52px;
		height: 100%;
		width: 100%;
		background: var(--bg-lvl-1);
		border-radius: var(--rounded-large);
		padding: 0;
		height: auto;
		box-shadow: var(--elevation-close);
		overflow: hidden;

		.children-19S4PO {
			padding: var(--spacing-xl);
			flex: none;
			background: var(--bg-lvl-1);
			.iconWrapper-2OrFZ1 {
				height: 20px;
				margin-left: 0;
			}
			.icon-22AiRD {
				width: auto;
				height: 100%;
			}
			&::after {
				content: none;
			}
		}
	}
	.toolbar-1t6TWx {
		flex: 1;
		justify-content: flex-end;
		.iconWrapper-2OrFZ1 {
			order: 1;
			margin: 0 var(--spacing-xl);
			& ~ .iconWrapper-2OrFZ1 {
				margin-left: 0;
			}
		}
		.anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB {
			display: none;
		}
	}

	// Chat
	.title-3qD0b- {
		.divider-3FBTu8 {
			display: none;
		}
		.topic-TCb_qw {
			font-size: 0;
			margin: 0;
			&.expandable-9fI_e3 {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
	}
}

// Windows
.platform-win #app-mount .container-1r6BKw {
	width: calc(100% - var(--win-btns-right));
}