#app-mount {
	.tooltip-2QfLtc {
		box-shadow: var(--elevation-far);
	}
	.tooltipPrimary-1d1ph4 {
		background: var(--bg-lvl-3);
		color: var(--text-focus);
		font-weight: var(--font-weight-semibold);
		.tooltipPointer-3ZfirK {
			border-top-color: var(--bg-lvl-3);
		}
	}
	.guildNameText-3Zwx4p {
		color: var(--text-focus);
	}
	.colorMuted-HdFt4q {
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-semibold);
	}
}