#app-mount {
	.expandedFolderBackground-1cujaW {
		background: var(--bg-lvl-3);
		border-radius: var(--rounded-large);
	}
	.folder-1hbNCn {
		background: var(--bg-lvl-3);
	}
	.folderIconWrapper-1_bOZe {
		border-radius: var(--rounded-small);
	}
	.iconInactive-98JN5i {
		border-radius: var(--rounded-small);
	}
}