#app-mount {
	.bd-settings-title {
		margin-bottom: 0;
	}
	.bd-addon-controls {
		position: sticky;
		top: 0px;
		background: var(--bg-lvl-0);
		padding: var(--spacing-3xl) 0;
		z-index: 1;
	}
	.bd-view-button {
		border-radius: var(--rounded-small);
		&:focus {
			box-shadow: none;
		}
		&.selected {
			background: rgb(var(--accent));
		}
	}

	.bd-search-wrapper {
		background: var(--bg-lvl-1);
		border-radius: var(--rounded-small);
		position: relative;
		padding: 0;
		svg {
			position: absolute;
			pointer-events: none;
			right: var(--spacing);
			width: 18px !important;
			height: 18px !important;
		}
		&:focus-within {
			background: var(--bg-lvl-2);
		}
	}
	.bd-search {
		font-size: 14px;
		padding: var(--spacing) calc(var(--spacing-2xl) * 2) var(--spacing) var(--spacing-lg);
		width: 350px;
	}

	.bd-addon-list {
		margin-top: 0;
	}
	.bd-addon-card {
		background: var(--bg-lvl-1);
	}
	.bd-addon-header {
		background: var(--bg-lvl-2);
	}

	#iPadOS-card .bd-description:after {
		display: block;
		margin-top: var(--spacing-xs);
		white-space: pre-wrap;
		content: "File version: " var(--ipados-file-version)"\A Base version: " var(--ipados-base-version);
	}
}