#app-mount .membersGroup-v9BXpm {
	padding: var(--spacing-xl) calc(var(--spacing-md) + var(--spacing-xl)) var(--spacing-xs);
	height: auto;
	font-weight: var(--font-weight-bold);
	color: var(--text-focus);
}