#app-mount .member-3-YXUe {
	max-width: unset;
	margin: 0 var(--spacing-xl) var(--spacing-xs) var(--spacing-xl);

	.layout-2DM8Md {
		height: auto;
		padding: var(--spacing) var(--spacing-md);
		border-radius: var(--rounded-large);
	}
	.name-uJV0GL {
		line-height: 22px;
	}

	.botTagRegular-2HEhHi {
		background: rgba(var(--accent), 1);
	}
	.botText-1526X_ {
		font-weight: var(--font-weight-bold);
	}

	& + .membersGroup-v9BXpm {
		margin-top: var(--spacing-xl);
	}

	&:hover {
		rect {
			stroke: var(--bg-lvl-2);
		}
		.layout-2DM8Md {
			background: var(--bg-lvl-2);
		}
	}
	&.selected-aXhQR6 {
		rect {
			stroke: rgba(var(--accent), 1);
		}
		.layout-2DM8Md {
			background: rgba(var(--accent), 1);
		}
		.roleColor-rz2vM0 {
			color: #fff !important;
		}
		.activityText-yGKsKm,
		.icon-15YQ1T {
			color: #fff;
		}
		.botTagRegular-2HEhHi {
			background: #fff;
			color: rgba(var(--accent), 1);
		}
	}
}