#app-mount .layer-3QrUeG[aria-label*="SETTINGS"] {
	background: transparent;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;

	.standardSidebarView-3F1I7i {
		max-width: var(--settings-width);
		max-height: var(--settings-height);
		position: unset;
	}
	.contentRegion-3nDuYy {
		flex: 1 1 auto;
		width: var(--settings-width);
		position: unset;
		min-height: 800px;
		max-height: 800px;
	}

	.toolsContainer-1edPuj {
		padding-top: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: -1;
	}
	.tools-3-3s-N,
	.container-1sFeqf {
		width: 100%;
		height: 100%;
	}
	.keybind-KpFkfr {
		display: none;
	}
	.closeButton-1tv5uR {
		background: rgb(0 0 0 / .7);
		border: none;
		border-radius: 0;
		flex: 0;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.standardSidebarView-3F1I7i {
		background: transparent;
		top: 0;
	}

	// Custom scroller bullshit thing
	.customContainer-1RHXqt {
		position: relative;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.contentColumnMinimal-2iX-kP {
		padding: 0;
	}
	.customScroller-26gWhv {
		overflow: hidden !important;
		& > div {
			min-width: unset;
			max-width: unset;
			margin: 0;
			& > div[style="height: 60px;"] {
				display: none;
			}
		}
	}
	.sidebar-dLM-kh,
	.scroller-Utb7tO {
		max-height: 800px;
	}
	.contentContainer-14yMzC {
		position: relative;
		left: 0;
		width: 100%;
		.scroller-3ZpLaI {
			max-height: 800px;
		}
	}
	.sidebar-3Wgas9 {
		position: relative;
	}
	.page-3njELR {
		min-width: unset;
		max-width: unset;
	}
}
