@use '../assets';

.theme-light #Appearance-tab > div > h1 {
	&:before {
		content: "";
		width: 24px;
		height: 24px;
		display: block;
		position: absolute;
		mask: url(assets.$icon_exclamation);
		background: currentColor;
		top: 85px;
		left: 46px;
	}
	&:after {
		content: "Light theme for iPadOS is currently a work in progress. Some areas may be broken or not look good.";
		font-size: 16px;
		font-weight: 500;
		display: block;
		background: rgb(var(--discord-yellow));
		padding: var(--spacing-lg) var(--spacing-2xl) var(--spacing-lg) calc(var(--spacing-2xl) * 3);
		border-radius: var(--rounded-small);
		margin-top: var(--spacing-xl);
		margin-bottom: calc(var(--spacing-xl) / -1);
	}
}

#Appearance-tab > div > div > div.marginTop40-i-78cZ > div:nth-child(2) > div:nth-child(2) > div > div > div {
	display: flex;
	align-items: center;
	&:after {
		content: "(Work in progress)";
		margin-left: var(--spacing);
		font-size: 12px;
	}
}