#app-mount .layer-3QrUeG[aria-label*="GUILD_SETTINGS"] {
	// Roles
	.contentWidth-xLB44s {
		width: 100%;
		min-width: unset;
		max-width: unset;
		padding: 0 calc(var(--spacing-xl) * 2);
	}
	.header-2mZ9Ov,
	.titleContainer-2CXtJo {
		background: var(--bg-lvl-0);
		padding-top: var(--spacing-xl);
	}
}
