#app-mount .layer-3QrUeG[aria-label*="SETTINGS"] {
  // My account
  .background-1QDuV2 {
    background: var(--bg-lvl-1);
    border-radius: var(--rounded-large);
  }
  .avatarUploaderInner-3UNxY3 {
    border-radius: var(--rounded-large);
    background-color: rgb(var(--accent));
  }
  .avatarUploaderIndicator-2G-aIZ {
    border-radius: var(--rounded-small);
    box-shadow: none;
  }
  .fieldList-21DyL8 {
    background: var(--bg-lvl-2);
  }

  // Connections

  // Appearance
  .preview-2nSL_2 {
    display: none;
  }
}