@use 'root';
@use 'light';
@use 'dark';
@use 'keyframes';

@use 'app';
@use 'channels';
@use 'chat';
@use 'guilds';
@use 'inputs';
@use 'members';
@use 'modals';
@use 'popouts';
@use 'settings';
@use 'pages';
@use 'bd';
@use 'platform';